<h1>Delete Account</h1>

<h4>Are you sure you wanna delete your account?</h4>
<form class="" action="/deleteAccount/<%= session[:user_id]%>" method="post">
  <input type="submit" value="master delete">
</form>
