<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="mainwrapper">

    <div class="wrapper">

      <div class="layoutheader"> <!-- prints each page -->

        <div class="logo-box">
          <div class="image">

          </div>
          <h2 id="name">Blogster</h2>
        </div>
        <header>
          <nav>
            <ul>
              <% if session[:user_id]%>
              <% user = User.find(session[:user_id]) %>
              <li> <a href="/<% user.username %>"> Home </a> </li>
              <% else %>
              <li> <a href="/"> Home </a> </li>
              <% end %>

              <% puts "Session id = " + session[:user_id].to_s%>

              <%if session[:user_id] == nil %>
                <ul>
                  <li> <a href="/signup"> Sign up </a> </li>
                  <li> <a href="/login"> login </a> </li>
                </ul>

                <% elsif session[:user_id] != nil %>
                    <ul>
                      <li> <a href="/new-post"> Create Post</a> </li>
                      <li> <a href="/account/<%= session[:user_id]%>"> Account</a> </li>
                      <li>
                        <form class="" action="/logout" method="post">
                          <input type="submit" value="logout">
                        </form>
                      </li>

                    </ul>
                <% end %>

            </ul>
          </nav>
        </header>

      </div>

      <div class="content-contianer">
        <%= yield %> <!-- print pages -->
      </div>

    </div>
  </div>

    <div class="footer">
      <footer>copy rights 2018</footer>
    </div>

  </body>
</html>
